.game_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    background-color: azure;
    border: 5px solid blue;
    text-align: center;
}

.game_container > div {
    border: 2px solid blue;
    border-radius: 25px;
    background-color: lightgray;
    padding: 35px;
    color: green;
  }